example/apple/Sources/UniFFI/counters.swift
example/android/jars/*.jar

DerivedData/
build/
example/apple/app/Counter.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
example/apple/app/Counter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
example/apple/app/Counter.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
example/apple/.swiftpm/


/target
example/rust/target
tarpaulin-report.html
.vscode
.idea
.build
build_rs_cov.profraw
cobertura.xml
.swiftpm/*
default.profraw

flamegraph.*

# Android
example/android/build/
example/android/.gradle/
example/android/local.properties
example/android/captures/
example/android/lint/
example/android/*.apk
example/android/*.aab
example/android/*.dex
example/android/*.class
example/android/*.log
example/android/*.hprof
example/android/*.kotlin_module
example/android/.idea/
example/android/*.iml
example/android/.navigation/
example/android/.externalNativeBuild/
example/android/.cxx/
example/android/.kotlin/
example/android/app/.gitignore
example/android/lera/src/main/jniLibs/**/libcounters.so
example/android/lera/src/main/kotlin/uniffi/counters/counters.kt